* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

@font-face {
    font-family: 'title';
    src: url('../font/Merriweather-Bold.ttf');
}

@font-face {
    font-family: 'title1';
    src: url('../font/Rubik-Medium.ttf');
}

@font-face {
    font-family: 'text';
    src: url('../font/JosefinSlab-Bold.ttf');
}

@font-face {
    font-family: 'text1';
    src: url('../font/Lato-BolIta.ttf');
}

body {
    overflow-x: hidden;
    background-color: rgb(15 5 0);
}

main {
    width: 100%;
    overflow-x: hidden;

    >.c {
        position: absolute;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 2px solid white;
        overflow: hidden;
        z-index: 10;
    }

    >.c1 {
        width: 40px;
        height: 40px;
    }

    >.c2 {
        width: 10px;
        height: 10px;
    }

    >.row {
        justify-content: center;
        align-items: center;

        >.slide1 {
            width: 100%;
            display: flex;
            justify-content: center;
            height: 100vh;
            position: relative;
            overflow: hidden;
            cursor: none;

            >video {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            >header {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                position: absolute;
                z-index: 20;
                margin-top: 100px;

                >.box1 {
                    width: 90%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    >div {
                        width: 15%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &:nth-of-type(1) {
                            >img {
                                width: 100px;
                                height: 120px;
                            }
                        }
                    }

                    >nav {
                        width: 60%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        >ul {
                            width: 100%;
                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;
                            list-style-type: none;
                            color: white;
                            font-family: 'title1';
                            text-transform: uppercase;
                            border-radius: 12px;
                            border: 3px solid rgba(6, 6, 6, 0.343);
                            background-color: rgba(38, 38, 38, 0.553);
                            backdrop-filter: blur(10px);

                            >* {
                                margin: 35px 0;
                            }

                            >li {
                                transition: .4s;

                                &:hover {
                                    box-shadow: 0 0 100px 60px rgb(255, 106, 52);
                                    background-color: rgba(243, 110, 57, 0.146);
                                }
                            }

                        }
                    }

                    .exe {
                        display: flex;
                        justify-content: end;
                        align-items: center;
                        flex-wrap: wrap;

                        >span {
                            width: 50%;
                            display: flex;
                            justify-content: end;
                            align-items: center;
                            color: white;
                            font-size: 30px;
                            font-family: 'title';

                            >* {
                                margin: 20px 0;
                            }

                            >i {
                                transition: 1s;
                            }

                            cursor: pointer;

                            &:hover>i {
                                transform: translateY(12px);
                            }
                        }
                    }
                }
            }

            >.row {
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 30;
                margin-top: 150px;

                >.box2 {
                    width: 80%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;

                    >h2 {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: 1s;
                        margin-top: 10px;

                        >span {
                            font-family: 'text2';
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-transform: uppercase;
                            text-align: center;
                            padding: 5px 5px;
                            color: white;
                            transition: 1s;
                        }
                    }

                    >h1 {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;
                        width: 85%;
                        font-size: 68px;
                        margin: 70px 0;
                        padding: 15px 0;
                        transition: 1s;
                        text-shadow: 2px 2px 2px orangered;

                        >span {
                            color: white;
                            font-family: 'title';
                            transition: 1s;
                        }
                    }

                    >div {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 70px;

                        // animation: animebtn 0.8s steps(22) forwards;
                        >span {
                            // width: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 12px 30px;
                            border: 1px solid white solid white;
                            border-radius: 20px;
                            cursor: pointer;

                            >p {
                                font-family: 'text2';
                                color: white;
                                font-size: 40px;
                            }
                        }
                    }
                }
            }

        }

        >.slide2 {
            width: 100%;
            margin-top: 80px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            >div {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                transition: 3s;

                >* {
                    margin: 15px 5px;
                }

                >span {
                    color: white;
                    font-family: 'text';
                    animation: anime1 3s linear infinite;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 18px;

                }
            }
        }

        >.slide3 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 80px;

            >.txt {
                width: 50%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                text-align: center;

                >h2 {
                    font-family: 'title1';
                    color: transparent;
                    font-size: 70px;
                    background: linear-gradient(#302a27, #965f39, #e1a57d, #afd3ec, #445f88);
                    background-clip: text;
                }

                >h3 {
                    color: rgb(226, 226, 226);
                    font-family: 'text2';
                    margin-top: 40px;
                    line-height: 35px;
                }

                >h4 {
                    color: white;
                    font-family: 'text';
                    margin-top: 30px;
                }
            }
        }

        >.slide4,
        .slide5,
        .slide6,
        .slide7 {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            // border: 1px solid white;
            margin-top: 70px;

            >.sp {
                width: 100%;
                margin-top: 40px;
                display: flex;
                justify-content: center;
                align-items: center;

                >.sp1 {
                    width: 18%;
                    height: 25px;
                    box-shadow: 0 0 100px 20px rgb(29, 29, 29);
                    border-radius: 30px;
                    background: linear-gradient(#302a27, #965f39, #e1a57d, #afd3ec, #445f88);
                }
            }

            >.text1,
            .text2,
            .text3,
            .text4 {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                >h3 {
                    color: white;
                    font-family: 'text';
                }
            }

            >.sc1,
            .sc2,
            .sc3,
            .sc4 {
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-top: 30px;

                >.picbox {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    text-align: center;

                    &:nth-of-type(1) {
                        width: 30%;

                        >img {
                            width: 100%;
                            height: 600px;
                            object-fit: cover;
                            border-radius: 30px;
                            transform: translateX(300px) rotate(-7deg);
                            transition: 1s;
                        }
                    }

                    &:nth-of-type(3) {
                        width: 30%;

                        >img {
                            width: 100%;
                            height: 600px;
                            object-fit: cover;
                            transform: translateX(-300px) rotate(7deg);
                            border-radius: 30px;
                            transition: 1s;
                        }
                    }
                }

                >.picbox1 {
                    width: 35%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    text-align: center;

                    >h2 {
                        color: white;
                        font-family: 'text2';
                        font-size: 80px;
                    }

                    >span {
                        padding: 8px 30px;
                        border: 1px solid white;
                        margin-top: 40px;
                        border-radius: 40px;

                        >p {
                            color: white;
                            font-family: 'text';
                            font-size: 50px;
                        }
                    }
                }
            }
        }

        >.slide8 {
            width: 100%;
            margin-top: 80px;
            // border: 1px solid white;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            >.row {
                justify-content: space-evenly;
                align-items: center;

                >.mytxt {
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // border: 1px solid yellow;
                    flex-wrap: wrap;
                    text-align: center;

                    >h2 {
                        font-family: 'title';
                        background: linear-gradient(#302a27, #e1a57d, #445f88, #afd3ec, #965f39, #445f88);
                        background-clip: text;
                        color: transparent;
                        font-size: 85px;
                    }

                    >p {
                        font-family: 'text';
                        color: white;
                        line-height: 30px;
                        margin-top: 30px;
                    }

                    >span {
                        padding: 8px 30px;
                        border: 1px solid white;
                        margin-top: 40px;
                        border-radius: 40px;

                        >p {
                            color: white;
                            font-family: 'text';
                            font-size: 40px;
                        }
                    }
                }

                >.mybox {
                    width: 30%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    position: relative;

                    >.textbox2 {
                        background-color: rgb(255 150 97) !important;
                        top: 150px;
                    }

                    >.textbox3 {
                        background-color: rgb(255 119 52) !important;
                        top: 200px;
                    }

                    >.textbox4 {
                        background-color: rgb(255 89 7) !important;
                        top: 300px;
                    }

                    >.textbox5 {
                        background-color: rgb(199 66 0) !important;
                        top: 400px;
                    }

                    >.textbox1 {
                        width: 70%;
                        background-color: rgb(255 210 187);
                        border-radius: 30px;
                        position: absolute;
                        transition: 4s;

                        >div {
                            width: 100%;
                            display: flex;
                            justify-content: start;
                            align-items: center;
                            height: 180px;
                            margin-left: 20px;

                            &:nth-of-type(1) {
                                font-family: 'title1';
                                font-size: 25px;
                            }

                            &:nth-of-type(2) {
                                font-family: 'title';
                                font-size: 32px;
                            }
                        }
                    }
                }
            }
        }

        >.slide9 {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 180px;
            z-index: 100;

            >.row {
                justify-content: space-evenly;
                align-items: center;

                >div {
                    width: 40%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    text-align: center;

                    &:nth-of-type(1) {
                        >p {
                            font-family: 'text';
                            font-size: 26px;
                            line-height: 35px;
                        }
                    }

                    &:nth-of-type(2) {
                        >h2 {
                            font-family: 'title';
                            font-size: 58px;
                        }
                    }
                }
            }
        }

        >.slide10 {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 150px;
            height: 200vh;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: rgba(53, 27, 10, 0.577);
            }

            >video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transform: scale(1);
            }

            >.row {
                justify-content: space-evenly;
                align-items: center;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 50;

                >* {
                    margin: 30px 0;
                }

                >.figpic {
                    width: 40%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    border: 1px solid rgba(255, 255, 255, 0.304);
                    border-radius: 20px;
                    backdrop-filter: blur(100px) !important;
                    transition: 1s !important;

                    >* {
                        margin: 10px 0;
                    }

                    >figure {
                        width: 100%;
                        justify-content: center;
                        align-items: center;

                        text-align: center;

                        >img {
                            width: 85%;
                            height: 85%;
                            object-fit: cover;
                            border-radius: 20px;
                            margin: 25px 0;
                            filter: grayscale(20);
                            transition: 1s;
                            cursor: pointer;

                            &:hover {
                                filter: grayscale(0);
                            }
                        }
                    }

                    >.mytext {
                        width: 85%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-wrap: wrap;
                        color: white;
                        font-family: 'text';

                        >* {
                            margin: 10px 0;
                        }
                    }

                    >.boxtext {
                        width: 85%;
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        flex-wrap: wrap;
                        margin: 10px 0;

                        >span {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 8px 15px;
                            border: 1px solid white;
                            border-radius: 18px;

                            >p {
                                font-family: 'Times New Roman', Times, serif;
                                color: white;
                                font-size: 25px;
                                text-transform: uppercase;
                            }
                        }
                    }
                }

                >.figpic1 {
                    >* {
                        margin: 20px 0;
                    }

                    >.boxtext {
                        margin: 30px 0;
                    }
                }
            }
        }

        >.slide11 {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 200px;

            >.flobox {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;

                &:nth-of-type(1) {
                    width: 50%;
                    transform: translateY(120px);
                    z-index: 100;
                    transition: .4s;

                    >img {
                        width: 550px;
                        height: 550px;
                        object-fit: cover;
                        transition: .4s;
                        display: flex;
                    }
                }

                &:nth-of-type(2) {
                    width: 90%;
                    position: relative;
                    border: 1px solid rgba(160, 160, 159, 0.284);
                    border-radius: 30px;
                    transition: 1s;

                    >video {
                        width: 100%;
                        height: 50%;
                        object-fit: cover;
                        border-radius: 30px;
                    }

                    >.txtvid {
                        width: 80%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transition: 1s;
                        transform: translate(-50%, -50%);
                        z-index: 50;
                        color: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        flex-wrap: wrap;

                        >* {
                            margin: 25px 0;
                        }

                        >h2 {
                            font-family: 'title';
                            width: 90%;
                            font-size: 60px;

                        }

                        >p {
                            font-family: 'text';
                            width: 65%;
                            line-height: 30px;
                            font-size: 23px;
                        }

                        >span {
                            padding: 20px 30px;
                            border: 1px solid white;
                            margin-top: 40px;
                            border-radius: 40px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;

                            >p {
                                font-family: 'Times New Roman', Times, serif;
                                font-size: 30px;
                                text-transform: uppercase;
                            }
                        }

                    }
                }
            }
        }

        >.slide12 {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 80px;
            overflow: hidden;

            >.row {
                justify-content: space-between;
                align-items: center;
                width: 80%;

                >div {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;

                    &:nth-of-type(1) {
                        width: 100%;
                        justify-content: start;

                        >p {
                            color: white;
                            font-family: 'text2';
                            line-height: 35px;
                            font-size: 23px;
                            width: 50%;
                        }
                    }

                    &:nth-of-type(2) {
                        width: 80%;
                        justify-content: start;
                        margin-top: 70px;
                        overflow: hidden;

                        >h3 {
                            font-family: 'text1';
                            background: linear-gradient(#302a27, #e1a57d, #445f88, #afd3ec, #965f39, #445f88);
                            background-clip: text;
                            color: transparent;
                            font-size: 80px;
                            transform: translateX(-100%);
                            transition: 1s;
                        }
                    }

                    &:nth-of-type(3) {
                        width: 100%;
                        justify-content: center;
                        margin-top: 30px;

                        >h2 {
                            font-family: 'title';
                            background: linear-gradient(#302a27, #e1a57d, #445f88, #afd3ec, #965f39, #445f88);
                            background-clip: text;
                            color: transparent;
                            font-size: 150px;
                            font-weight: bolder;
                        }
                    }

                    &:nth-of-type(4) {
                        width: 100%;
                        justify-content: end;
                        margin-top: 30px;
                        overflow: hidden;

                        >h3 {
                            font-family: 'text1';
                            background: linear-gradient(#302a27, #e1a57d, #445f88, #afd3ec, #965f39, #445f88);
                            background-clip: text;
                            color: transparent;
                            font-size: 80px;
                            transform: translateX(100%);
                            transition: 1s;
                        }
                    }

                    &:nth-of-type(5) {
                        width: 100%;
                        justify-content: end;
                        margin-top: 70px;

                        >p {
                            color: white;
                            font-family: 'text2';
                            line-height: 35px;
                            font-size: 23px;
                            width: 50%;
                        }
                    }

                }
            }
        }

        >.slide13 {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 100px;
            flex-wrap: wrap;

            >footer {
                width: 90%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;
                border: 1px solid rgba(181, 180, 180, 0.371);
                backdrop-filter: blur(50px);
                background-color: rgba(57, 57, 57, 0.32);
                border-radius: 20px;

                >* {
                    margin: 30px 0;
                }

                >ul {
                    width: 25%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;

                    >h3 {
                        color: white;
                        font-family: 'title1';
                        margin: 20px 0;
                        font-size: 25px;
                    }

                    >li {
                        width: 100%;
                        display: flex;
                        justify-content: space-evenly;
                        align-content: center;
                        margin-top: 15px;
                        color: white;
                        font-family: 'text';
                        font-size: 22px;
                        transition: 1s;
                        cursor: pointer;

                        &:hover {
                            color: orange;
                        }

                        >i {
                            font-size: 35px;
                            color: white;
                        }

                        >a {
                            color: white;
                            text-decoration: none;
                            transition: 1s;

                            &:hover {
                                color: orangered;
                            }
                        }

                    }
                }

                >div {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;

                    &:nth-of-type(1) {
                        width: 30%;
                        justify-content: center;

                        >h2 {
                            color: orange;
                            font-family: 'title';
                            width: 100%;
                            font-size: 40px;
                        }

                        >h3 {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-wrap: wrap;
                            margin-top: 20px;

                            >span {
                                color: orangered;
                                font-family: 'text';
                                overflow: hidden;

                                &:nth-of-type(2) {
                                    animation: anime2 1s alternate infinite;
                                    font-size: 35px;
                                    margin-left: 50px;
                                }

                                &:nth-of-type(1) {
                                    animation: anime3 1s alternate infinite;
                                    font-size: 35px;
                                    width: 100%;
                                }
                            }
                        }
                    }

                    &:nth-of-type(2) {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        >img {
                            width: 200px;
                            height: 200px;
                            object-fit: cover;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }
}

@keyframes anime1 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes anime2 {
    0% {
        transform: rotateX(-90deg);
    }

    47% {
        transform: rotateX(-5deg);
    }

    53% {
        transform: rotateX(-5deg);
    }

    100% {
        transform: rotateX(90deg);
        opacity: 0;
    }
}

@keyframes anime3 {
    0% {
        transform: rotateX(90deg);
        opacity: 0;
    }

    47% {
        transform: rotateX(5deg);
    }

    53% {
        transform: rotateX(5deg);
    }

    100% {
        transform: rotateX(-90deg);
    }

}